.frame-2a .hv1:hover{background:rgba(255,255,255,0.05)}
.frame-2a .hv2:hover{background:rgba(255,255,255,0.06);color:var(--tx)}
.frame-2a .hv3:hover{background:rgba(255,255,255,0.035);color:var(--tx)}
.frame-2a .hv4:hover{background:rgba(255,255,255,0.035);color:var(--tx)}
.frame-2a .hv5:hover{background:rgba(255,255,255,0.035);color:var(--tx)}
.frame-2a .hv6:hover{background:rgba(255,255,255,0.035);color:var(--tx)}
.frame-2a .hv7:hover{background:rgba(255,255,255,0.035);color:var(--tx)}
.frame-2a .hv8:hover{background:rgba(255,255,255,0.035);color:var(--tx)}
.frame-2a .hv9:hover{background:rgba(255,255,255,0.035);color:var(--tx)}
.frame-2a .hv10:hover{background:rgba(255,255,255,0.035);color:var(--tx)}
.frame-2a .hv11:hover{background:rgba(255,255,255,0.035);color:var(--tx)}
.frame-2a .hv12:hover{background:rgba(255,255,255,0.035);color:var(--tx)}
.frame-2a .hv13:hover{background:rgba(255,255,255,0.035);color:var(--tx)}
.frame-2a .hv14:hover{background:rgba(255,255,255,0.035);color:var(--tx)}
.frame-2a .hv15:hover{background:rgba(255,255,255,0.035);color:var(--tx)}
.frame-2a .hv16:hover{background:rgba(255,255,255,0.035);color:var(--tx)}
.frame-2a .hv17:hover{background:rgba(255,255,255,0.035);color:var(--tx)}
.frame-2a .hv18:hover{background:rgba(255,255,255,0.035);color:var(--tx)}
.frame-2a .hv19:hover{background:rgba(255,255,255,0.035);color:var(--tx)}
.frame-2a .hv20:hover{background:rgba(255,255,255,0.035);color:var(--tx)}
.frame-2a .hv21:hover{background:rgba(255,255,255,0.035);color:var(--tx)}
.frame-2a .hv22:hover{background:rgba(255,255,255,0.04)}
.frame-2a .hv23:hover{background:rgba(255,255,255,0.035);color:var(--tx)}
.frame-2a .hv24:hover{background:rgba(255,255,255,0.035);color:var(--tx)}
.frame-2a .hv25:hover{background:rgba(255,255,255,0.035);color:var(--tx)}
.frame-2a .hv26:hover{background:rgba(255,255,255,0.035);color:var(--tx)}
.frame-2a .hv27:hover{background:rgba(255,255,255,0.035);color:var(--tx)}
.frame-2a .hv28:hover{background:rgba(255,255,255,0.035);color:var(--tx)}
.frame-2a .hv29:hover{background:rgba(255,255,255,0.035);color:var(--tx)}
.frame-2a .hv30:hover{background:rgba(255,255,255,0.035);color:var(--tx)}
.frame-2a .hv31:hover{background:rgba(255,255,255,0.035);color:var(--tx)}
.frame-2a .hv32:hover{background:rgba(255,255,255,0.035);color:var(--tx)}
.frame-2a .hv33:hover{background:rgba(255,255,255,0.035);color:var(--tx)}
