.frame-actions .hv1:hover{background:rgba(255,255,255,0.04);color:var(--tx)}
.frame-actions .hv2:hover{background:rgba(255,255,255,0.04);color:var(--tx)}
.frame-actions .hv3:hover{background:rgba(255,255,255,0.04);color:var(--tx)}
.frame-actions .hv4:hover{background:rgba(255,255,255,0.04);color:var(--tx)}
.frame-actions .hv5:hover{background:rgba(255,255,255,0.04);color:var(--tx)}
.frame-actions .hv6:hover{background:rgba(255,255,255,0.035);color:var(--tx)}
.frame-actions .hv7:hover{background:rgba(255,255,255,0.035);color:var(--tx)}
.frame-actions .hv8:hover{background:rgba(255,255,255,0.04);color:var(--tx)}
.frame-actions .hv9:hover{background:rgba(255,255,255,0.04);color:var(--tx)}
.frame-actions .hv10:hover{background:rgba(255,255,255,0.04);color:var(--tx)}
