.frame-citations .hv1:hover{background:rgba(255,255,255,0.04);color:var(--tx)}
.frame-citations .hv2:hover{background:rgba(255,255,255,0.04);color:var(--tx)}
.frame-citations .hv3:hover{background:rgba(255,255,255,0.04);color:var(--tx)}
.frame-citations .hv4:hover{background:rgba(255,255,255,0.04);color:var(--tx)}
.frame-citations .hv5:hover{background:rgba(255,255,255,0.035);color:var(--tx)}
.frame-citations .hv6:hover{background:rgba(255,255,255,0.04);color:var(--tx)}
.frame-citations .hv7:hover{background:rgba(255,255,255,0.035);color:var(--tx)}
.frame-citations .hv8:hover{background:rgba(255,255,255,0.04);color:var(--tx)}
.frame-citations .hv9:hover{background:rgba(255,255,255,0.04);color:var(--tx)}
.frame-citations .hv10:hover{background:rgba(255,255,255,0.04);color:var(--tx)}
