.frame-settings-platforms .hv1:hover{background:rgba(255,255,255,0.04);color:var(--tx)}
.frame-settings-platforms .hv2:hover{background:rgba(255,255,255,0.04);color:var(--tx)}
.frame-settings-platforms .hv3:hover{background:rgba(255,255,255,0.04);color:var(--tx)}
.frame-settings-platforms .hv4:hover{background:rgba(255,255,255,0.04);color:var(--tx)}
.frame-settings-platforms .hv5:hover{background:rgba(255,255,255,0.04);color:var(--tx)}
.frame-settings-platforms .hv6:hover{background:rgba(255,255,255,0.035);color:var(--tx)}
.frame-settings-platforms .hv7:hover{background:rgba(255,255,255,0.04);color:var(--tx)}
.frame-settings-platforms .hv8:hover{background:rgba(255,255,255,0.035);color:var(--tx)}
.frame-settings-platforms .hv9:hover{background:rgba(255,255,255,0.04);color:var(--tx)}
.frame-settings-platforms .hv10:hover{background:rgba(255,255,255,0.04);color:var(--tx)}
.frame-settings-platforms .hv11:hover{background:rgba(255,255,255,0.04)}
.frame-settings-platforms .hv12:hover{background:rgba(255,255,255,0.04)}
.frame-settings-platforms .hv13:hover{background:rgba(255,255,255,0.04)}
.frame-settings-platforms .hv14:hover{background:rgba(255,255,255,0.04)}
.frame-settings-platforms .hv15:hover{background:rgba(255,255,255,0.04)}
.frame-settings-platforms .hv16:hover{background:rgba(255,255,255,0.04)}
.frame-settings-platforms .hv17:hover{background:rgba(255,255,255,0.04)}
