.frame-overview .hv1:hover{background:rgba(255,255,255,0.05)}
.frame-overview .hv2:hover{background:rgba(255,255,255,0.035);color:var(--tx)}
.frame-overview .hv3:hover{background:rgba(255,255,255,0.035);color:var(--tx)}
.frame-overview .hv4:hover{background:rgba(255,255,255,0.035);color:var(--tx)}
.frame-overview .hv5:hover{background:rgba(255,255,255,0.035);color:var(--tx)}
.frame-overview .hv6:hover{background:rgba(255,255,255,0.035);color:var(--tx)}
.frame-overview .hv7:hover{background:rgba(255,255,255,0.035);color:var(--tx)}
.frame-overview .hv8:hover{background:rgba(255,255,255,0.035);color:var(--tx)}
.frame-overview .hv9:hover{background:rgba(255,255,255,0.035);color:var(--tx)}
.frame-overview .hv10:hover{background:rgba(255,255,255,0.035);color:var(--tx)}
.frame-overview .hv11:hover{background:rgba(255,255,255,0.035);color:var(--tx)}
.frame-overview .hv12:hover{background:rgba(255,255,255,0.02)}
.frame-overview .hv13:hover{background:rgba(255,255,255,0.02)}
.frame-overview .hv14:hover{background:rgba(255,255,255,0.02)}
.frame-overview .hv15:hover{background:rgba(255,255,255,0.02)}
