.frame-enterprise .hv1:hover{color:var(--tx)}
.frame-enterprise .hv2:hover{color:var(--tx)}
.frame-enterprise .hv3:hover{color:var(--tx)}
.frame-enterprise .hv4:hover{color:var(--tx)}
.frame-enterprise .hv5:hover{color:var(--tx)}
.frame-enterprise .hv6:hover{color:var(--tx)}
.frame-enterprise .hv7:hover{color:var(--tx)}
.frame-enterprise .hv8:hover{color:var(--tx)}
.frame-enterprise .hv9:hover{box-shadow:0 6px 20px color-mix(in oklab,var(--ac) 30%,transparent);transform:translateY(-1px)}
.frame-enterprise .hv10:hover{box-shadow:0 6px 20px color-mix(in oklab,var(--ac) 30%,transparent);transform:translateY(-1px)}
.frame-enterprise .hv11:hover{box-shadow:0 6px 20px color-mix(in oklab,var(--ac) 30%,transparent);transform:translateY(-1px)}
.frame-enterprise .hv12:hover{color:var(--tx)}
.frame-enterprise .hv13:hover{color:var(--tx)}
.frame-enterprise .hv14:hover{color:var(--tx)}
.frame-enterprise .hv15:hover{color:var(--tx)}
.frame-enterprise .hv16:hover{color:var(--tx)}
.frame-enterprise .hv17:hover{color:var(--tx)}
.frame-enterprise .hv18:hover{color:var(--tx)}
.frame-enterprise .hv19:hover{color:var(--tx)}
.frame-enterprise .hv20:hover{color:var(--tx)}
.frame-enterprise .hv21:hover{color:var(--tx)}
.frame-enterprise .hv22:hover{color:var(--tx)}
.frame-enterprise .hv23:hover{color:var(--tx)}
.frame-enterprise .hv24:hover{color:var(--tx)}
.frame-enterprise .hv25:hover{color:var(--tx)}
.frame-enterprise .hv26:hover{color:var(--tx)}
.frame-enterprise .hv27:hover{color:var(--tx)}
.frame-enterprise .hv28:hover{color:var(--tx)}
.frame-enterprise .hv29:hover{color:var(--tx)}
.frame-enterprise .hv30:hover{color:var(--mut)}
