.frame-i-ecommerce .hv1:hover{color:var(--tx)}
.frame-i-ecommerce .hv2:hover{color:var(--tx)}
.frame-i-ecommerce .hv3:hover{color:var(--tx)}
.frame-i-ecommerce .hv4:hover{color:var(--tx)}
.frame-i-ecommerce .hv5:hover{color:var(--tx)}
.frame-i-ecommerce .hv6:hover{color:var(--tx)}
.frame-i-ecommerce .hv7:hover{color:var(--tx)}
.frame-i-ecommerce .hv8:hover{box-shadow:0 6px 20px color-mix(in oklab,var(--ac) 30%,transparent);transform:translateY(-1px)}
.frame-i-ecommerce .hv9:hover{box-shadow:0 8px 26px color-mix(in oklab,var(--ac) 30%,transparent);transform:translateY(-1px)}
.frame-i-ecommerce .hv10:hover{background:rgba(142,124,242,0.16)}
.frame-i-ecommerce .hv11:hover{background:rgba(142,124,242,0.16)}
.frame-i-ecommerce .hv12:hover{background:rgba(142,124,242,0.16)}
.frame-i-ecommerce .hv13:hover{box-shadow:0 8px 26px color-mix(in oklab,var(--ac) 30%,transparent);transform:translateY(-1px)}
.frame-i-ecommerce .hv14:hover{color:var(--tx)}
.frame-i-ecommerce .hv15:hover{color:var(--tx)}
.frame-i-ecommerce .hv16:hover{color:var(--tx)}
.frame-i-ecommerce .hv17:hover{color:var(--tx)}
.frame-i-ecommerce .hv18:hover{color:var(--tx)}
.frame-i-ecommerce .hv19:hover{color:var(--tx)}
.frame-i-ecommerce .hv20:hover{color:var(--tx)}
.frame-i-ecommerce .hv21:hover{color:var(--tx)}
.frame-i-ecommerce .hv22:hover{color:var(--tx)}
.frame-i-ecommerce .hv23:hover{color:var(--tx)}
.frame-i-ecommerce .hv24:hover{color:var(--tx)}
.frame-i-ecommerce .hv25:hover{color:var(--tx)}
.frame-i-ecommerce .hv26:hover{color:var(--tx)}
.frame-i-ecommerce .hv27:hover{color:var(--tx)}
.frame-i-ecommerce .hv28:hover{color:var(--tx)}
.frame-i-ecommerce .hv29:hover{color:var(--tx)}
.frame-i-ecommerce .hv30:hover{color:var(--tx)}
.frame-i-ecommerce .hv31:hover{color:var(--tx)}
.frame-i-ecommerce .hv32:hover{color:var(--mut)}
