.frame-aei .hv1:hover{background:rgba(255,255,255,0.04);color:var(--tx)}
.frame-aei .hv2:hover{background:rgba(255,255,255,0.04);color:var(--tx)}
.frame-aei .hv3:hover{background:rgba(255,255,255,0.04);color:var(--tx)}
.frame-aei .hv4:hover{background:rgba(255,255,255,0.04);color:var(--tx)}
.frame-aei .hv5:hover{background:rgba(255,255,255,0.035);color:var(--tx)}
.frame-aei .hv6:hover{background:rgba(255,255,255,0.04);color:var(--tx)}
.frame-aei .hv7:hover{background:rgba(255,255,255,0.035);color:var(--tx)}
.frame-aei .hv8:hover{background:rgba(255,255,255,0.04);color:var(--tx)}
.frame-aei .hv9:hover{background:rgba(255,255,255,0.04);color:var(--tx)}
.frame-aei .hv10:hover{background:rgba(255,255,255,0.04);color:var(--tx)}
