.frame-reports .hv1:hover{background:rgba(255,255,255,0.04);color:var(--tx)}
.frame-reports .hv2:hover{background:rgba(255,255,255,0.04);color:var(--tx)}
.frame-reports .hv3:hover{background:rgba(255,255,255,0.04);color:var(--tx)}
.frame-reports .hv4:hover{background:rgba(255,255,255,0.04);color:var(--tx)}
.frame-reports .hv5:hover{background:rgba(255,255,255,0.04);color:var(--tx)}
.frame-reports .hv6:hover{background:rgba(255,255,255,0.035);color:var(--tx)}
.frame-reports .hv7:hover{background:rgba(255,255,255,0.04);color:var(--tx)}
.frame-reports .hv8:hover{background:rgba(255,255,255,0.035);color:var(--tx)}
.frame-reports .hv9:hover{background:rgba(255,255,255,0.04);color:var(--tx)}
.frame-reports .hv10:hover{background:rgba(255,255,255,0.04);color:var(--tx)}
