.frame-settings .hv1:hover{background:rgba(255,255,255,0.04);color:var(--tx)}
.frame-settings .hv2:hover{background:rgba(255,255,255,0.04);color:var(--tx)}
.frame-settings .hv3:hover{background:rgba(255,255,255,0.04);color:var(--tx)}
.frame-settings .hv4:hover{background:rgba(255,255,255,0.04);color:var(--tx)}
.frame-settings .hv5:hover{background:rgba(255,255,255,0.04);color:var(--tx)}
.frame-settings .hv6:hover{background:rgba(255,255,255,0.035);color:var(--tx)}
.frame-settings .hv7:hover{background:rgba(255,255,255,0.04);color:var(--tx)}
.frame-settings .hv8:hover{background:rgba(255,255,255,0.035);color:var(--tx)}
.frame-settings .hv9:hover{background:rgba(255,255,255,0.04);color:var(--tx)}
.frame-settings .hv10:hover{background:rgba(255,255,255,0.04);color:var(--tx)}
.frame-settings .hv11:hover{background:rgba(255,255,255,0.04)}
.frame-settings .hv12:hover{background:rgba(255,255,255,0.04)}
.frame-settings .hv13:hover{background:rgba(255,255,255,0.04)}
.frame-settings .hv14:hover{background:rgba(255,255,255,0.04)}
.frame-settings .hv15:hover{background:rgba(255,255,255,0.04)}
.frame-settings .hv16:hover{background:rgba(255,255,255,0.04)}
.frame-settings .hv17:hover{background:rgba(255,255,255,0.04)}
